<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>League of Legends Suggestion</title>
 
 
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">League of Legends Suggestion App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Suggestions</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showBasic" role="button">Lane Opponent Win Rates</a>
            </p>
        </div>
 
    </div>
</body>
 
</html>
